<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Laboral</title>
    <link rel="stylesheet" href="static/css/styleHome.css">
    <script src="static/js/appHome.js" type="module"></script>
</head>
<body>
    <h1> Aplicación de Actividades Laborales </h1>
    <div>
        <button id="btn-register"> Registrar Actividad </button> 
        <button id="btn-consult"> Consultar Actividad </button>
    </div>
</body>
</html>